.header {
	display: block;
	background-color: white;
	height: 64px;
	padding: 0 40px;

	&_menu {
		font-size: 12px;
		font-family: "Montserrat", sans-serif;
		margin: 0;
		display: inline-block;
		padding: 0;
		height: 100%;

		&_item {
			display: inline-block;
			line-height: 62px;
			margin-right: 20px;
			cursor: pointer;
			font-weight: bold;
			height: 100%;
    		vertical-align: top;

			&:hover {
				color: #c9921b;
			}

			&:before {
				content: "\203A";
				transform: rotate(90deg);
			    font-size: 26px;
			    display: inline-block;
			    padding-left: 10px;
			    font-weight: 100;
			}
		}

		&_submenu {
			list-style: none;
		    padding: 0;
		    border: 1px solid #ccc;
		    color: black;
    		text-transform: uppercase;
    		position: absolute;
    		width: 180px;
    		opacity: 0;
    		transition: all 0.5s ease-in-out;

    		&.visible {
    			opacity: 1;
    		}

		    &_item {
		    	display: block;
		    	text-align: center;
		    	line-height: 36px;

		    	&:hover {
		    		color: #c9921b;
		    	}
		    }
		}
	}

	&_search {
		display: inline-block;
		float: right;
    	margin-top: 32px;
    	transform: translateY(-12px);

		&_input-wrapper {
			height: 30px;
		    width: 150px;
		    display: inline-block;
		    overflow: hidden;
		    vertical-align: middle;
		}

		&_input {
			visibility: visible;
			border: 1px solid #ccc;
		    height: 100%;
		    width: 100%;
		    font-size: 13px;
		    transform: translate(0%);
		    transition: all 0.5s ease-in-out;
		    padding: 8px;
    		box-sizing: border-box;
    		color: #ccc;

			&.hidden {
				visibility: hidden;
				transform: translate(100%);
			}
		}

		&_button {
			height: 28px;
		    width: 28px;
		    display: inline-block;
		    border: 1px solid #ccc;
		    vertical-align: bottom;
		    text-align: center;

			&:before {
				content: "\d7";
				font-size: 24px;
			}
		}
	}
}