.header {
	width: 100%;
	display: block;
	background-color: white;
	height: 64px;

	&_menu {
		font-size: 12px;
		font-family: "Montserrat", sans-serif;
		margin: 0;
		padding: 0 40px;

		&_item {
			display: inline-block;
			line-height: 62px;
			margin-right: 20px;
			cursor: pointer;
			font-weight: bold;

			&:hover {
				color: #c9921b;
			}

			&:after {
				content: "\203A";
				transform: rotate(90deg);
			    font-size: 26px;
			    display: inline-block;
			    padding-left: 10px;
			    font-weight: 100;
			}
		}
	}
}