.sidebar {
	width: 300px;
	height: calc(100% - 65px);
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc; 
	transition: 1s all ease-in-out;
	box-shadow: 2px 0px 2px lightgrey;
	position: absolute;
    z-index: 999;
    background-color: white;

	&-hidden {
		transform: translate(-100%);
		transition: 0.33s all ease-in-out;
		width: 300px;
		position: absolute;
    	z-index: 999;
	}

	&_menu_item {
		border-bottom: 1px solid #ccc;
		list-style: none;
		padding: 20px;
		cursor: pointer;

		&:last-child {
			border: none;
		}

		&-show-submenu {
			.sidebar_menu_submenu {
				display: block;
			}
		}
	}

	&_menu_submenu {
		display: none;

		&_item {
			list-style: none;
			transition: all 0.5s ease-in-out;
			cursor: pointer;
			text-transform: uppercase;

			&:hover {
				color: #c9921b;
			}
		}
	}
	
}