.user {
	width: 100%;
	height: 100%;
	background-image: url("../../asset/background1.jpeg");
	backgroung-repeat: no-repeat;
	background-size: cover;
	animation:background 2s ease-in-out
	/*animation:background 5s ease-in-out 2s infinite alternate;*/
}

@keyframes background {
	/*from {background-image: url("../../asset/background.jpeg");}*/
	/*to {background-image: url("../../asset/background1.jpeg");}*/
	from {opacity: 0;}
	to {opacity: 1;}

}
