body {
  margin: 0; }

.header {
  display: block;
  background-color: white;
  height: 64px;
  padding: 0 40px;
  border-bottom: 1px solid #ccc; }
  .header_menu {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: inline-block;
    padding: 0;
    height: 100%; }
    .header_menu_item {
      display: inline-block;
      line-height: 62px;
      margin-right: 20px;
      cursor: pointer;
      font-weight: bold;
      height: 100%;
      vertical-align: top; }
      .header_menu_item:hover {
        color: #c9921b; }
      .header_menu_item:before {
        content: "\203A";
        transform: rotate(90deg);
        font-size: 26px;
        display: inline-block;
        padding-left: 10px;
        font-weight: 100; }
    .header_menu_submenu {
      list-style: none;
      padding: 0;
      border: 1px solid #ccc;
      color: black;
      text-transform: uppercase;
      position: absolute;
      width: 180px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      box-shadow: 2px 2px 5px #333333;
      top: 64px; }
      .header_menu_submenu.visible {
        opacity: 1; }
      .header_menu_submenu_item {
        display: block;
        text-align: center;
        line-height: 36px; }
        .header_menu_submenu_item:hover {
          color: #c9921b; }
  .header_search {
    display: inline-block;
    float: right;
    margin-top: 32px;
    transform: translateY(-12px); }
    .header_search_input-wrapper {
      height: 30px;
      width: 150px;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle; }
    .header_search_input {
      visibility: visible;
      border: 1px solid #ccc;
      height: 100%;
      width: 100%;
      font-size: 13px;
      transform: translate(0%);
      transition: all 0.5s ease-in-out;
      padding: 8px;
      box-sizing: border-box;
      color: #ccc; }
      .header_search_input.hidden {
        visibility: hidden;
        transform: translate(100%); }
    .header_search_button {
      height: 28px;
      width: 28px;
      display: inline-block;
      border: 1px solid #ccc;
      vertical-align: bottom;
      text-align: center; }
      .header_search_button:before {
        content: "\D7";
        font-size: 24px; }
