body {
  margin: 0; }

.header {
  width: 100%;
  display: block;
  background-color: white;
  height: 64px; }
  .header_menu {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0 40px; }
    .header_menu_item {
      display: inline-block;
      line-height: 62px;
      margin-right: 20px;
      cursor: pointer;
      font-weight: bold; }
      .header_menu_item:hover {
        color: #c9921b; }
      .header_menu_item:after {
        content: "\203A";
        transform: rotate(90deg);
        font-size: 26px;
        display: inline-block;
        padding-left: 10px;
        font-weight: 100; }
